[defaults]
enable_plugins = amazon.aws.aws_ec2
remote_user = ubuntu
private_key_file = /home/annaa/.ssh/annaas-key
ansible_ssh_user = ubuntu
ansible_ssh_private_key_file = ~/.ssh/annaas-key
host_key_checking = False
ansible_python_interpreter = /home/annaa/devops-controled/week10/ironhack-project-1/ansible-env/bin/python
