[defaults]
inventory = aws_ec2.yaml
remote_user = ubuntu
private_key_file = /home/annaa/.ssh/annaas-key
host_key_checking = False
ansible_python_interpreter = /home/annaa/devops-controled/week10/project1/.venv/bin/python
